doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/plugins/bootstrap/dist/css/bootsrap.min.css')
  body
    block content
    script(src='/javascripts/bundle.js')
    script(src='/plugins/bootstrap/dist/js/bootsrap.min.js')

