extends layout

block content
	h1= title
	ul
		each todo in todos
			li 
				if todo.done 
					input(type='checkbox', checked=true)
				else
					input(type='checkbox', checked=false)
				span= todo.text
