body section {
  padding: 60px 0; }

body section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase; }

body #footer {
  background: #007b5e !important; }
