extends ../template/layout

block content

	h1=title
	input(type='hidden',id='keyAt',value=token)
	.row
		.col-md-12
			.col-md-3
				a.btn.btn-primary.btn-sm(href="/departement/add") 
					i.fas.fa-plus.fa-sm
					b &nbsp;Add
			.col-md-9
	.row
		.col-md-12
			table#dt_table.table.table-hover.table-striped.table-bordered
				thead
					tr
						th #
						th Departement Name
				tbody
				tfoot
					tr
						th #
						th Departement Name
	
	script(src='/public/javascripts/modules/departement/table.js')
	