block footer
section#footer
	div.container-fluid
		div.row.text-center.text-xs-center.text-sm-left.text-md-left
			div.col-xs-12.col-sm-4.col-md-4
				div.row
					div.col-xs-12.col-sm-12.col-md-12.mt-2.mt-sm-2.text-center.text-white
						p.h6 &copy; All Right Reserved arisbaskoro.id